apache-airflow-providers-amazon[aiobotocore]==9.21.0
apache-airflow-providers-celery==3.15.2
apache-airflow-providers-common-sql==1.31.0
apache-airflow-providers-fab==1.5.4
apache-airflow-providers-ftp==3.14.1
apache-airflow-providers-http==5.6.4
apache-airflow-providers-imap==3.11.0
apache-airflow-providers-postgres==6.5.4
apache-airflow-providers-smtp==2.4.2
apache-airflow-providers-sqlite==4.2.1
